@charset "utf-8";


html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
    scroll-behavior: smooth;
}

body {
    background-color :whitesmoke;
    color: #000;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
}
.inner {
    max-width: calc(100% - 400px);
    margin: 0 auto;
}
.title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 4rem;
}
section {
    margin-bottom: 150px;
}
@media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 200px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1000px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}

@media (max-width : 768px) {
    .inner {
        max-width: calc(100% - 80px);
    }
}

/* 헤더 시작 */
#header {
    width: 100%;
    background-color : rgba(0,0,0,0.5);
    position: fixed;
    z-index: 9999;
}
#header .inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#header .inner .header_logo {
    font-size: 4rem;
}
#header .inner .header_logo a{
    color : #fff;
    padding: 15px 0;
    transition: color 0.3s;
}
#header .inner .header_logo a:hover {
        color: rgb(0, 255, 64);
}
#header .inner .gnb{
    display: flex;
}
#header .inner .gnb>li {
    position: relative;
}
#header .inner .gnb > li > a {
    display: block;
    padding: 30px 40px;
    font-size: 2rem;
    font-weight: 500;
    color : #fff;
        transition: color 0.3s;
}

#header .inner .gnb li:hover a {
        color: rgb(0, 255, 64);
}

#header .inner .gnb .depth2 {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 999;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}
#header .inner .gnb .depth2 li {
    transition: color 0.3s;
}
#header .inner .gnb .depth2 li:hover a{
    color : rgb(0, 255, 64);
}
#header .inner .gnb .depth2 li a{
    color:#fff;
    padding: 20px 0;
    display: block;
}
/* 헤더 끝 */

/* 메인배너 시작 */
#main_banner {
        position: relative;
}
#main_banner .mb_video {    
    width: 100%;
}
#main_banner .mb_video video {
    width: 100%;
    display: block;
}
#main_banner .mb_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #fff;
    text-align: center;
}

#main_banner .mb_txt h2 {
    font-size: 6rem;
    border-bottom: 3px solid #fff;
    margin-bottom: 5px;
}

/* 메인배너 끝 */

/* 웹 포트폴리오 시작 */
#web {
    background-color: #fff;
    padding: 30px 0;
}
#web .web_title {
    text-align: center;
    margin-bottom: 50px;
}
#web .web_title p {
    color : #999;
    font-weight: 300;
}

#web .web_contents ul{
     display: flex;
     width: 80%;
     margin: 0 auto;
     justify-content: space-between;
     flex-wrap: wrap;

}
#web .web_contents ul li {
    width: calc((100% - 50px ) / 3);
    margin-bottom: 25px;
    position: relative;
    box-shadow: #ddd 3px 3px 15px;
}
#web .web_contents ul li:nth-child(2) {
    background : url("../img/dalkomm.png") no-repeat center center;
    background-size: cover;
}
#web .web_contents ul li:nth-child(3) {
        background: url("../img/hansol.png") no-repeat center center;
            background-size: contain;
}
#web .web_contents ul li:nth-child(5) {
    background: url("../img/baraboda.png") no-repeat center center;
    background-size: cover;
}
#web .web_contents ul li img {
    display: block;
    width: 100%;
    height: 100%;
    
}

#web .web_contents ul li .img_hover {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}
#web .web_contents ul li .img_hover p {
    color: #fff;
}
#web .web_contents ul li .img_hover p:not(.hover_title) {
    font-size: 1.4rem;
    padding: 10px 0;
    color :aqua;
}
#web .web_contents ul li:hover .img_hover{
    opacity: 1;
}

#web .web_contents .go_project .btn_go {
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #000;
    transition: color 0.3s, background 0.3s;
}
#web .web_contents .go_project .btn_go:hover{
    background-color: #FFF;
    color: #000;
}
/* 웹 포트폴리오 끝 */

/*  포트폴리오 시작 */
#design {
    background-color: #fff;
    padding: 30px 0;
}
#design .design_title {
    text-align: center;
    margin-bottom: 50px;
}
#design .design_title p {
    color : #999;
    font-weight: 300;
}

#design .design_contents ul{
     display: flex;
     width: 70%;
     margin: 0 auto;
     justify-content: space-evenly;
     flex-wrap: wrap;

    }
#design .design_contents ul li {
    width: calc((100% - 50px ) / 2);
    margin-bottom: 25px;
}
#design .design_contents ul li img {
    display: block;
    width: 100%;
}
/* 디자인 포트폴리오 끝 */

/* about 시작 */
#about { 
    padding: 100px 0;
    background: url("../img/h_bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#about .about_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about .about_img {
    width: 30%;
    height: 450px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
#about .about_img img {
    width: 100%;
}
#about .about_title {
    text-align: center;
    margin-bottom: 50px;    
    color: #fff;
}
#about .about_info {
    color :#fff;
}
#about .about_info ul {
    display: inline-block;
    padding: 30px 80px;
}
#about .about_info li {
    position: relative;
    padding: 10px 0;

}
#about .about_info li .desc {
    position: absolute;
    font-size: 1.4rem;
    top: 10px;
    left: 70px;
    width: 300px;
}
#about .about_info .sm_title {
    font-size: 2.4rem;
    color : #fff;
    font-weight: 700;
}
/* about 끝 */

/* 에필로그 시작 */
#epilogue .ep_title {
    text-align: center;
    margin-bottom: 50px;
}
/* 에필로그 끝 */

.gotop {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 20px 10px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}