@charset "utf-8";

html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
    scroll-behavior: smooth;
}

body {
    color: #000;
    background-color: #040816;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

.inner {
    max-width: calc(100% - 400px);
    margin: 0 auto;
}

/* section 제목 스타일 */
.title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 4rem;
    color: #fff;
}

@media (max-width : 1000px) {
    .title {
        font-family: 'Do Hyeon', sans-serif;
        font-size: 3rem;
    }

    .title+p {
        font-size: 2rem;
    }
}

@media (max-width : 768px) {
    .title {
        font-family: 'Do Hyeon', sans-serif;
        font-size: 2rem;
    }

    .title+p {
        font-size: 1rem;
    }
}

/* //section 제목 스타일 */
section {
    margin-bottom: 150px;
}

@media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 200px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1000px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}

@media (max-width : 768px) {
    .inner {
        max-width: calc(100% - 80px);
    }
}

.snowflake {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: snow;
    position: absolute;
    top: -20px;
    z-index: 99999999;
}

@-webkit-keyframes snow {
    from {}

    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes snow {
    from {}

    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* 헤더 시작 */
#header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

#header .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .inner .header_logo {
    font-size: 4rem;
}

#header .inner .header_logo a {
    color: #fff;
    padding: 15px 0;
    transition: color 0.3s;
}

#header .inner .header_logo a:hover {
    color: rgb(0, 255, 64);
}

#header .inner .gnb {
    display: flex;
    justify-content: space-between;
}

#header .inner .gnb>li {
    position: relative;
}

#header .inner .gnb>li>a {
    display: block;
    padding: 30px 40px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s;
}

#header .inner .gnb li:hover a {
    color: rgb(0, 255, 64);
}

#header .inner .gnb .depth2 {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 999;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#header .inner .gnb .depth2 li {
    transition: color 0.3s;
}

#header .inner .gnb .depth2 li:hover a {
    color: rgb(0, 255, 64);
}

#header .inner .gnb .depth2 li a {
    color: #fff;
    padding: 20px 0;
    display: block;
}

@media (max-width : 1000px) {
    #header .header_logo h1 {
        font-size: 2.6rem;
    }

    #header .inner .gnb li a {
        font-size: 1.6rem;
    }
}

@media (max-width : 768px) {
    #header .header_logo h1 {
        font-size: 1.4rem;
    }

    #header .inner .gnb li a {
        font-size: 1rem;
    }

    #header .inner .gnb>li>a {
        display: block;
        padding: 10px 20px;
    }

    #header .inner {
        justify-content: space-evenly;
    }
}

/* 헤더 끝 */

/* 메인배너 시작 */
#main_banner {
    margin-bottom: 0;
    position: relative;
}

#main_banner .mb_video {
    width: 100%;
}

#main_banner .mb_video video {
    width: 100%;
    display: block;
}

/* auote 시작 */
#main_banner .mb_txt {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

#main_banner .mb_txt h2 {
    font-size: 6rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    padding-top: 20px;
}

#main_banner .mb_txt .quote span:last-child {
    font-size: 3rem;
    color: aqua;
}

@media (max-width : 1000px) {
    #main_banner .mb_txt h2 {
        font-size: 4rem;
    }

    #main_banner .mb_txt .quote span {
        font-size: 2.2rem;
    }

    #main_banner .mb_txt .quote span:last-child {
        font-size: 2rem;
    }
}

@media (max-width : 768px) {
    #main_banner .mb_txt h2 {
        font-size: 2rem;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #main_banner .mb_txt .quote span {
        font-size: 1.6rem;
    }

    #main_banner .mb_txt .quote span:last-child {
        font-size: 1.2rem;
    }

    #main_banner .mb_txt {
        line-height: 1;
    }
}

/* auote 끝 */
/* 메인배너 끝 */

/* clock 시작 */
#clock {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

#clock .clock {
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    color: darkblue;
}

@media (max-width : 1000px) {
    #clock {
        padding: 30px 0;
    }

    #clock .clock {
        font-size: 3rem;
    }
}

@media (max-width : 768px) {
    #clock {
        padding: 15px 0;
    }

    #clock .clock {
        font-size: 2rem;
    }
}

/* clock 꿑 */

/* 웹 포트폴리오 시작 */
#web {
    padding: 30px 0;
}

#web .project_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    color: rgb(66, 151, 58);
    font-size: 2.4rem;
    margin-bottom: 20px;
}

#web .web_title {
    text-align: center;
    margin: 50px 0 70px 0;
}

#web .web_title p {
    color: #999;
    font-weight: 300;
}

#web .web_contents ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;

}

#web .web_contents ul li {
    width: calc((100% - 200px)/3);
    margin: 0 20px;
    position: relative;
    box-shadow: #ddd 2px 2px 15px;
}

#web .web_contents li.dalkomm {
    background: url("../img/dalkomm.png") no-repeat center center;
    background-size: cover;
}



#web .web_contents ul li img {
    width: 100%;
    height: 100%;
    display: block;

}

#web .web_contents ul li .img_hover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

#web .web_contents ul li .img_hover p {
    color: #fff;
}

#web .web_contents ul li .img_hover p:not(.hover_title) {
    font-size: 1.4rem;
    padding: 10px 0;
    color: aqua;
}

#web .web_contents ul li:hover .img_hover {
    opacity: 1;
}

.btn_go {
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #666;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
}

.swiper-pagination {
    position: relative;
    margin-top: 30px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.btn_go:hover {
    background-color: #FFF;
    color: #000;
}

@media (max-width : 1000px) {
    #web .web_contents ul li {
        width: calc((100% - 100px) / 2);
        margin: 10px;
        height: 200px;
    }
}

@media (max-width : 768px) {
    #web .web_contents ul li {
        width: 100%;
        height: 40vmin;
    }

    .btn_go {
        padding: 5px;
        font-size: 1rem;
        margin-top: 5px;
    }

    #web .web_contents ul li .img_hover p:not(.hover_title) {
        font-size: 1.2rem;
        padding: 7px 0;
    }

}

/* 웹 포트폴리오 끝 */

/*  포트폴리오 시작 */
#design {
    padding: 30px 0;
}


#design .design_title {
    text-align: center;
    position: relative;
    margin-bottom: 70px;
}

#design .design_desc {
    position: relative;
    padding-left: 20px;
}

#design .design_desc:before {
    position: absolute;
    content: "";
    left: 0;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;

}

#design .design_title p {
    color: #999;
    font-weight: 300;
}

#design .design_contents .design_desc {
    font-size: 2.4rem;
    padding-bottom: 20px;
    color: #fff;
    transition: color 0.3s;
}

#design .design_contents ul {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}

#design .design_contents ul li {
    margin: 0 15px 100px 15px;
    cursor: pointer;
}

#design .design_contents ul li:hover .design_desc {
    color: tomato;
}

#design .design_contents ul li .frame {
    box-shadow: 5px 5px 5px #444;
    width: 400px;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

#design .design_contents ul li.thumbnail .frame {
    width: 400px;
    height: 220px;
}

#design .design_contents ul li img {
    display: block;
    height: 100%;
    width: 100%;
}

@media (max-width : 400px) {
    #design .design_contents ul li .frame {
        width: 200px;

    }

    #design .design_contents .design_desc {
        font-size: 1rem;
        padding-left: 6px;
    }

    #design .design_desc:before {
        top: 7px;
        width: 3px;
        height: 3px;
    }

    #design .design_contents ul li {
        margin: 0 15px 50px 15px;
    }

    #design .design_contents ul li .frame {
        height: 200px;
    }
}

@-webkit-keyframes design {
    0% {
        top: 0;
    }

    100% {}
}

@keyframes design {
    0% {
        top: 0;
    }

    100% {
        bottom: -100%;
    }
}

/* 디자인 포트폴리오 끝 */

/* about 시작 */
#about {
    padding: 100px 0;
    background: url("../img/dark-gb95da6625_1920.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#about .about_contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #about .about_img {
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 50%;
    display: block;
    background: url("../img/emoji.png") no-repeat top center;
    border: 1px solid #fff;
    background-size: cover;
    transition: transform 1s;
} */

#about .about_img:hover {
    transform: rotateY(180deg);
}

#about .about_img img {
    width: 100%;
}

#about .about_title {
    margin-bottom: 50px;
    color: #fff;
    font-weight: 3rem;
}

#about .about_info {
    color: #fff;
}

#about .about_info ul {
    display: inline-block;
    padding: 30px 100px;
}

#about .about_info ul:nth-child(2) {
    padding-right: 0;
}

#about .about_info li {
    position: relative;
    padding: 10px 0
}

#about .about_info li .desc {
    position: absolute;
    font-size: 1.4rem;
    top: 10px;
    left: 70px;
    width: 500px;
}

#about .about_info .sm_title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 700;
}

@media (max-width : 1000px) {
    #about .about_contents {
        display: block;
    }

    #about .about_img {
        margin: 0 auto;
    }

    #about .about_info {
        transform: translateX(10%);

    }
}

@media (max-width : 768px) {
    #about .about_contents {
        display: block;
    }

    #about .about_img {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    #about .about_info ul {
        transform: translateX(5%);
        display: block;
    }
}

@media (max-width : 768px) {
    #about .about_contents {
        display: block;
    }

    #about .about_img {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    #about .about_info ul {
        transform: translateX(5%);
        display: block;
    }
}

@media (max-width : 400px) {
    #about .about_img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    #about .about_info ul {
        transform: translateX(-40%);
        display: block;
    }

    #about .about_info li,
    #about .about_info li>.desc {
        font-size: 1rem;

    }

    #about .about_info li .desc {
        top: 10px;
        left: 50px;
        width: 500px;
    }
}

/* about 끝 */

/* More 시작 */
#more .inner {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 30px 0;
}

#more .more_title {
    text-align: center;
    margin-bottom: 10px;
}

#more .useable {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
}

#more .useable p {
    margin-bottom: 20px;
    color: #fff;

}

#more .useable ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#more .useable li {
    width: 100px;
    margin: 20px;

}

#more .useable li img {
    width: 100%;
    height: 100px;
    display: block;
}

#more .sns {

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#more .sns li {
    margin: 40px;
    color: #fff;
}

#more .sns li:hover .bi {
    font-size: 5rem;
}

#more .sns li .bi {
    font-size: 4rem;
    color: #fff;

    transition: font-size 0.3s;
}

/* More 끝 */

.gotop {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 20px 10px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}

@media (max-width : 1000px) {
    .gotop {
        right: 50px;
        bottom: 50px;
        font-size: 1.2rem;
        padding: 15px 10px;
    }
}