@charset "utf-8";

html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
}

body {
    color: #000;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', serif, 'Spoqa Han Sans Neo',
        sans-serif;
}

.spoqa {
    font-family: 'Spoqa Han Sans Neo', serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#wrap {
    overflow-x: hidden;
}

.inner {
    max-width: calc(100% - 400px);
    margin: 0 auto;
}

/* @media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}
*/

#container .title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

@media (max-width : 1920px) {
    section {
        margin-bottom: 150px;
    }
}

@media (max-width : 1024px) {
    .inner {
        max-width: calc(100% - 200px);
    }

    #container .title {
        font-size: 3rem;
    }

    section {
        margin-bottom: 100px;
    }
}

@media (max-width : 768px) {
    .inner {
        max-width: calc(100% - 100px);
    }

    #container .title {
        font-size: 2.6rem;
    }


    section {
        margin-bottom: 50px;
    }
}

@media (max-width:400px) {
    #container .title {
        font-size: 1.6rem;
    }
}

#container .btn_more {
    display: inline-block;
    background-color: #8E39FC;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
}

#container .btn_more:hover {
    color: #fff;
    background-color: #4000c7;
}

/* header시작 */

#header {
    position: relative;
    z-index: 9;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header .header_logo {
    margin: 0 80px;
}

#header .gnb {
    display: flex;
}

#header .gnb>li {
    position: relative;
}

#header .gnb>li:hover>a {
    color: #4000c7;
    font-weight: 700;
}

#header .gnb>li>a {
    display: block;
    padding: 25px;
}

#header .gnb .depth2 {
    position: absolute;
    z-index: 999;
    left: 0;
    transform: translateX(-20%);
    top: 70px;
}

#header .gnb .depth2 li {
    position: relative;
}

#header .gnb .depth2 li>a {
    display: block;
    width: 150px;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    transition: color 0.3s, background 0.3s;
}

#header .gnb .depth2 li a:hover {
    color: #fff;
    background-color: #001B66;
}

#header .gnb .depth3 {
    position: absolute;
    left: 100%;
    top: 0;
}

#header .gnb .depth3 li a {
    background-color: #eee;
    display: block;
    width: 200px;
}

#header .mypage {
    position: absolute;
    right: 30px;
}

#header .ham {
    position: absolute;
    right: 50px;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
}

/* mgnb */
#header .mgnb_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 9999;
    padding: 100px 50px;
}

#header .mgnb_wrap .mgnb {
    border-top: 1px solid #000;
}

#header .mgnb_wrap .mgnb>li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 5px;
    font-size: 2.4rem;
}

#header .mgnb_wrap .mgnb .mdepth2 {
    padding: 10px;
}

#header .mgnb_wrap .mgnb .mdepth2 li {
    position: relative;
    padding-left: 10px;
}

#header .mgnb_wrap .mgnb .mdepth2 li a {
    transition: color 0.2s;
}

#header .mgnb_wrap .mgnb .mdepth2 li a:hover {
    color: #000000;
}

#header .mgnb_wrap .mgnb .mdepth2 li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    left: 0;
    top: 20px;
}

#header .mgnb_wrap .mgnb .mdepth2 p {
    color: #8E39FC;
    padding: 15px 0;
}

#header .mgnb_wrap .mgnb .mdepth2 li a {
    font-size: 1.4rem;
    color: #999;
}

#header .mgnb_wrap .mgnb_close {
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 60px;
    font-size: 3rem;
}

/* mgnb */
@media (max-width : 1920px) {
    #header .ham {
        display: none;
    }
}

@media (max-width : 1024px) {

    #header .gnb,
    #header .mypage {
        display: none;
    }

    #header .ham {
        display: block;
        font-size: 3rem;

    }
}

@media (max-width : 768px) {
    #header .header_logo {
        margin: 0 30px;
    }

    #header .ham {
        right: 20px;
        font-size: 3rem;

    }
}

@media (max-width : 400px) {
    #header {
        height: 60px;
    }

    #header .header_logo {
        margin: 0 10px;
    }

    #header .header_logo img {
        height: 20px;
    }

    #header .ham {
        right: 20px;
        font-size: 2rem;

    }
}

/* header 끝 */


/* main_banner 시작 */

@media (max-width : 3000px) {
    #main_banner .mb .banner_pc {
        display: block;
    }

    #main_banner .mb .banner_tablet {
        display: none;
    }
}

@media (max-width : 1024px) {
    #main_banner .mb .banner_pc {
        display: none;
    }

    #main_banner .mb .banner_tablet {
        display: block;
    }
}

@media (max-width : 768px) {
    #main_banner .mb .banner_tablet img {
        height: 250px;
        width: 100%;
    }
}

@media (max-width : 400px) {
    #main_banner .mb .banner_tablet img {
        height: 150px;
        width: 100%;
    }
}

/* main_banner 끝 */

/* course 시작 */
#course .course_txt {
    text-align: center;
}

#course .course_txt p {
    font-size: 2rem;
    padding-top: 30px;
}

#course .course_list ul {
    margin-top: 50px;
}

#course .course_list ul a:first-child li {
    background-color: #EAF0F6;
}

#course .course_list ul a:nth-child(2) li {
    background-color: #F2EAFF;
}

#course .course_list ul a:nth-child(3) li {
    background-color: #F8E8FF;
}

#course .course_list ul a:nth-child(4) li {
    background-color: #E4E4EF;
}

#course .course_list ul a:nth-child(5) li {
    background-color: #ECEEFF;
}

#course .course_list ul a:nth-child(6) li {
    background-color: #FFF3EB;
}

#course .course_list ul a:last-child li {
    background-color: #E9FAF5;
}

#course .course_list ul a li {
    position: relative;
    font-size: 1.8rem;
    background-color: beige;
    padding: 30px 0;
    padding-left: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: background 0.3s, color 0.3s;
}

#course .course_list ul a li:hover {
    background-color: #4000c7;
    color: #FFF;
}


#course .course_list .recruit {
    position: absolute;
    left: 0;
    top: -10px;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    background-color: blueviolet;
    color: #fff;
    border-radius: 10px;
}

#course .course_list li .list_title {
    font-size: 2.4rem;
    font-weight: 700;
}


@media (max-width : 1024px) {
    #course .course_list li .list_title {
        font-size: 1.8rem;
    }
}

@media (max-width : 768px) {
    #course .course_list li .list_title {
        font-size: 1.6rem;
    }

    #course .course_list li:not(.list_title) {
        font-size: 1.4rem;
    }
}

@media (max-width : 400px) {
    #course .course_txt p {
        font-size: 1.2rem;

    }

    #course .course_list ul a li {
        padding-left: 5px;
    }

    #course .course_list li .list_title {
        font-size: 1.2rem;
    }

    #course .course_list li:not(.list_title) {
        font-size: 1rem;
    }
}

/* course 끝 */

/* bootcamp 시작 */
#bootcamp .bootcamp_txt {
    margin-bottom: 50px;
}

#bootcamp .inner .bootcamp_list {
    display: flex;
    flex-direction: column;
    color: #Fff;

}

#bootcamp .inner .bootcamp_list dl {
    position: relative;
    background-color: #E9FAF5;
    width: 50%;
    height: 364px;
    border-radius: 30px;

}

#bootcamp .inner .bootcamp_list dl:nth-child(even) {
    align-self: flex-end;
}

#bootcamp .inner .bootcamp_list dl:first-child {
    background: url("../images/main/benefit-1.png") no-repeat center center;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:nth-child(2) {
    background: url("../images/main/benefit-2.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:nth-child(3) {
    background: url("../images/main/benefit-3.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:nth-child(4) {
    background: url("../images/main/benefit-4.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl:last-child {
    background: url("../images/main/benefit-5.png") no-repeat;
    background-size: cover;
}

#bootcamp .inner .bootcamp_list dl dt {
    position: absolute;
    bottom: 140px;
    left: 30px;
    font-size: 2.4rem;
    text-decoration: underline;
}

#bootcamp .inner .bootcamp_list dl dd {
    position: absolute;
    bottom: 50px;
    left: 30px;
    font-size: 2.4rem;
}

@media (max-width : 768px) {
    #bootcamp .inner .bootcamp_list dl {
        width: 60%;
        margin: 0 auto 10px;
    }

    #bootcamp .inner .bootcamp_list dl dd {
        font-size: 1.6rem;
    }
}

@media (max-width : 400px) {
    #bootcamp .inner .bootcamp_list dl {
        width: 60%;
        height: 200px;
        margin: 0 auto 10px;
    }

    #bootcamp .inner .bootcamp_list dl dt {
        font-size: 1.4rem;
        left: 10px;
    }

    #bootcamp .inner .bootcamp_list dl dd {
        font-size: 1.2rem;
        text-align: center;
        left: 10px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

/* bootcamp 끝 */

/* review 시작 */
#review .review_txt {
    margin-bottom: 50px;
}

#review .review_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#review .review_img img {
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #8E39FC 0%, #001B66 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 3px;
    width: 300px;
    height: 300px;
    display: block;
}

#review .review_desc {
    height: 300px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#review .review_desc dt {
    font-weight: 700;
    color: #4000c7;
    font-size: 3rem;

}

#review .review_desc dl dt {
    font-size: 2rem;
    font-weight: 400;
}

#review .review_btn {
    text-align: center;
    margin-top: 50px;
}


@media (max-width : 1024px) {
    #review .review_desc dt {
        font-size: 2rem;
    }

    #review .review_desc dd {
        font-size: 1.4rem;
    }
}

@media (max-width : 768px) {
    #review .review_img img {
        width: 200px;
        height: 200px;
    }

    #review .review_desc dt {
        font-size: 1.6rem;
    }

    #review .review_desc dd {
        font-size: 1.2rem;
    }
}

@media (max-width : 400px) {
    #review .review_img img {
        width: 100px;
        height: 100px;
    }

    #review .review_desc dt {
        font-size: 1.2rem;
    }

    #review .review_desc dd {
        font-size: 0.8rem;
    }
}

/* review 끝 */

/* status 시작 */
#status {
    background: #eee;
    padding: 200px 0;
}

#status .status_txt {
    margin-bottom: 50px;
}

#status .status_list {
    display: flex;
    justify-content: center;
}

#status .status_list dl {
    width: calc((100% - 50px) / 2);
    text-align: center;
    height: 300px;

}

#status .status_list dl dt {
    font-size: 2rem;
    color: #999;
}

#status .status_list dl dd {
    font-size: 4rem;
    font-weight: 700;
}

#status .status_list dl:first-child {
    background: url("../images/main/outcomes-1.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list dl:nth-child(2) {
    background: url("../images/main/outcomes-2.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#status .status_list2 dl {
    width: calc((100% - 75px) / 3);
    text-align: center;
    height: 300px;

}

#status .status_list2 dl dt {
    font-size: 2rem;
    color: #999;
}

#status .status_list2 dl dd {
    font-size: 4rem;
    font-weight: 700;
}

#status .status_list2 dl:first-child {
    background: url("../images/main/outcomes-3.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list2 dl:nth-child(2) {
    background: url("../images/main/outcomes-4.png") no-repeat center bottom;
    background-size: 200px 200px;
}

#status .status_list2 dl:last-child {
    background: url("../images/main/outcomes-5.png") no-repeat center bottom;
    background-size: 200px 200px;
}


@media (max-width : 1024px) {
    #status .status_list dl:first-child {
        height: 200px;
        background-size: 130px 130px;
    }

    #status .status_list dl:last-child {
        height: 200px;
        background-size: 130px 130px;
    }

    #status .status_list2 dl:first-child {
        height: 200px;
        background-size: 130px 130px;
    }

    #status .status_list2 dl:nth-child(2) {
        height: 200px;
        background-size: 130px 130px;
    }

    #status .status_list2 dl:last-child {
        height: 200px;
        background-size: 130px 130px;
    }

    #status .status_list dl dt {
        font-size: 1.6rem;
    }

    #status .status_list2 dl dt {
        font-size: 1.6rem;
    }

    #status .status_list dl dd {
        font-size: 2.5rem;
    }

    #status .status_list2 dl dd {
        font-size: 2.5rem;
    }
}

@media (max-width : 400px) {
    #status .status_list {
        display: block;
    }

    #status .status_list dl:first-child {
        width: 100%;
        height: 150px;
        background-size: 70px 70px;
        margin-bottom: 30px;
    }

    #status .status_list dl:last-child {
        width: 100%;
        height: 150px;
        background-size: 70px 70px;
    }

    #status .status_list2 {
        display: block;
    }

    #status .status_list2 dl:first-child {
        width: 100%;
        height: 150px;
        background-size: 70px 70px;
    }

    #status .status_list2 dl:nth-child(2) {
        width: 100%;
        height: 150px;
        background-size: 70px 70px;
        margin: 30px 0;
    }

    #status .status_list2 dl:last-child {
        width: 100%;
        height: 150px;
        background-size: 70px 70px;
    }

    #status .status_list dl dt {
        font-size: 1.6rem;
    }

    #status .status_list2 dl dt {
        font-size: 1.6rem;
    }

    #status .status_list dl dd {
        font-size: 2.5rem;
    }

    #status .status_list2 dl dd {
        font-size: 2.5rem;
    }
}

/* status 끝 */

/* logo 시작 */
#logo {
    width: 100%;
}


#logo .animation {
    position: relative;
    height: 200px;
}

#logo .logo_slide1 {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/main/logoslide1.png") repeat-x left top;
    -webkit-animation: ani 20s linear infinite;
    animation: ani 20s linear infinite;
}


#logo .logo_slide2 {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/main/logoslide2.png") repeat-x left top;
    -webkit-animation: ani2 20s linear infinite;
    animation: ani2 20s linear infinite;
}

#logo .logo_slide2 img {
    height: 30px;
    margin-right: 50px;
}

@-webkit-keyframes ani {
    0% {
        background-position: 0px 0px;
    }


    100% {

        background-position: 2400px 0px;
    }

}

@keyframes ani {
    0% {
        background-position: 0px 0px;
    }


    100% {

        background-position: 2400px 0px;
    }

}

@-webkit-keyframes ani2 {
    0% {
        background-position: 3000px 0px;
    }

    100% {
        background-position: 0px 0px;
    }

}

@keyframes ani2 {
    0% {
        background-position: 3000px 0px;
    }

    100% {
        background-position: 0px 0px;
    }

}

/* logo 끝 */


/* story 시작 */
#story {
    background-color: #eee;
    padding: 100px 0;
}

#story .inner {
    text-align: center;
}

#story .story_txt {
    margin-bottom: 50px;
}

#story .story_list {
    display: flex;
    justify-content: space-evenly;
}

#story .story_list li {
    width: calc((100% - 30px) / 3);
    height: 300px;
    position: relative;
}

#story .story_list li:hover .list_txt {
    opacity: 1;
}

#story .story_list {
    width: 100%;
}

#story .list_txt {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    height: 300px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

#story li:first-child {
    background: url("../images/main/코드스테이츠-후기-마케팅.webp") no-repeat center center;
    background-size: cover;
}

#story li:nth-child(2) {
    background: url("../images/main/데이터-분석-SQL.webp") no-repeat center center;
    background-size: cover;
}

#story li:last-child {
    background: url("../images/main/코드스테이츠-개발-부트캠프-엔트리-코스.webp") no-repeat center center;
    background-size: cover;
}

#story .list_txt h5 {
    padding: 50px 0;
    font-size: 2rem;
    text-align: center;
}

#story .list_txt p {
    font-size: 1.4rem;
    text-align: center;

}

#story .btn_more {
    margin-top: 50px;
}


@media (max-width : 1024px) {
    #story .story_list .list_txt h5 {
        font-size: 1.6rem;
    }

    #story .story_list .list_txt p {
        font-size: 1.2rem;
    }
}

@media (max-width : 400px) {
    #story .story_list li:not(:first-child) {
        display: none;
    }

    #story .story_list li:first-child {
        width: 80%;

    }

    #story .story_list .list_txt p {
        font-size: 1.2rem;
    }
}

/* story 끝 */


/* footer 시작 */

#footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 100px;
}

#footer .footer_top {
    position: relative;
}

#footer .footer_top .ft_title {
    font-size: 5rem;
    display: block;
    border-bottom: 1px solid #0aff98;
    padding: 50px 0;
    color: #0AFF98;
    font-weight: 700;

}

#footer .footer_top .gotop {
    position: absolute;
    color: #0AFF98;
    font-size: 5rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#footer .footer_bottom .fb_ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#footer .footer_bottom .fb_ul ul li a {
    display: block;
    padding: 5px 0;
    color: #fff;
}

#footer .footer_bottom .fb_ul ul li a span {
    text-decoration: underline;
}

#footer .footer_bottom .sns {
    display: flex;
    color: #fff;
}

#footer .footer_bottom .sns li a {
    display: block;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 3rem;
    color: #fff;
}

#footer .footer_bottom .fb_txt {
    margin-top: 50px;
    color: #5D51C2;
}

#footer .fb_txt .copyright {
    padding-bottom: 20px;
}


@media (max-width:3000px) {
    #footer .footer_top .ft_title br {
        display: none;
    }
}

@media (max-width:1024px) {
    #footer .footer_top .ft_title {
        font-size: 3rem;
    }

    #footer .footer_top .ft_title br {
        display: block;
    }

    #footer .footer_bottom .fb_ul {
        display: flex;
        height: 500px;
        flex-wrap: wrap;
    }

}

@media (max-width : 500px) {
    #footer .footer_bottom .fb_ul {
        display: flex;
        height: 600px;
        flex-wrap: wrap;
    }

}

@media (max-width:400px) {
    #footer .footer_top .ft_title {
        font-size: 2rem;
    }

    #footer .footer_top .ft_title br {
        display: block;
    }

    #footer .footer_bottom .fb_ul {
        display: flex;
        height: 800px;
        flex-wrap: wrap;
    }

}

/* footer 끝 */